<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--  An HTTP URI to a server that provides backend services for the application. -->
	<add key="HomeServer" value="http://qad2008.com:8080/qadhome" />
    <!--  An HTTP URI to a configuration server or a file URI referencing an XML configuration document. -->
    <add key="config.uri" value="${homeserver}/servlet/env" />
  </appSettings>
  <!--
	      TraceSwitches can be defined to override the default log level (log.level)
	      for a specific set of types.  The "name" is either the namespace of a set 
	      of types (i.e. QAD.Shell) or a fully qualified name (namespace + type name) 
	      of a specific type (i.e. QAD.Shell.ShellLoader).  The "value" is one
	      of the following numeric switch levels:
	  
	      1 = Error
	      2 = Warning
	      3 = Info
	      4 = Debug
	-->
  <system.diagnostics>
    <switches>
      <add name="QAD.Shell.ShellLoader" value="3" />
    </switches>
  </system.diagnostics>
  <system.net>
    <!--
        .Net 1.1 does not always read proxy settings from IE correctly.
        the URL of the homeserver should be added to the bypass list.
    <defaultProxy>
      <bypasslist>
	<add address="http://qad2008.com:8080" />
      </bypasslist>
    </defaultProxy>
  	<connectionManagement>
        <add address="*" maxconnection="20" />
    </connectionManagement>
    <settings>
        <servicePointManager
            expect100Continue="false"/>
    </settings>
    -->
  </system.net>
  <!--
        Allows plugins that are not compiled against the exact version of the deployed 
        plugin container to run.
  -->
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="QAD.Shared" publicKeyToken="58366f6bf7bf40ce" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QAD.Shell.Plugins" publicKeyToken="e5ebd3fad5729862" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QAD.Services" publicKeyToken="e5ebd3fad5729862" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QAD.Common" publicKeyToken="65438e8b916ed64a" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QAD.PluginFoundation" publicKeyToken="65438e8b916ed64a" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QAD.Browse" publicKeyToken="65438e8b916ed64a" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BrowseProxy" publicKeyToken="65438e8b916ed64a" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.7.136.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
